Run Query: Find all the tracks whose name starts with 'All'. **How many total records there are for this query?**

In [ ]:
select count(*) from tracks where name like 'All%'

Run Query: Find all the customer emails that start with "J" and are from gmail.com.

In [ ]:
select * from customers where email like 'j%gmail.com'

Run Query: Find the albums with 12 or more tracks.

In [ ]:
select * from albums a left join (select album_id, count(*) as count_tracks from tracks group by album_id) b on a.id = b.album_id where b.count_tracks >= 12

Create a list of album titles and the unit prices for the artist "Audioslave".

In [ ]:
select * from albums a left join artists b on a.artist_id = b.id where b.name = 'Audioslave'

Using a subquery, find the names of all the tracks for the album "Californication".

In [ ]:
select * from tracks a left join albums b on a.album_id = a.id where b.title = 'Californication'

Find the total number of invoices for each customer along with the customer's full name, city and email.

In [ ]:
select a.first_name, a.last_name, a.city, a.email, i.count_invoices from customers a left join (select customer_id, count(*) as count_invoices from invoices group by customer_id) i on a.id = i.customer_id

After running the query described above, what is the email address of the 5th person, František Wichterlová?

In [ ]:
frantisekw@jetbrains.com

Retrieve the track name, album, artistID, and trackID for all the albums.

In [ ]:
select a.name, b.title, b.artist_id, a.id from tracks a left join albums b on a.album_id = b.id

What is the song title of trackID 12 from the "For Those About to Rock We Salute You" ?

In [ ]:
select t.name from albums a right join tracks t on a.id = t.album_id where a.title = 'For Those About To Rock We Salute You' and t.id = '12'

Retrieve a list with the managers last name, and the last name of the employees who report to him or her. **Who are the reports for the manager named Mitchell?**

In [ ]:
select b.last_name as managers_last_name, a.last_name as employees_last_name from employees a right join (select id, last_name from employees where last_name = 'Mitchell') b on a.reports_to = b.id

Find the name and ID of the artists who do not have albums.

In [ ]:
select * from artists a left join albums b on a.id = b.artist_id where b.id is null

Use a UNION to create a list of all the employee's and customer's first names and last names ordered by the last name in descending order. **Determine what is the last name of the 6th record** Remember to order things in descending order to be sure to get the correct answer.

In [ ]:
Taylor

See if there are any customers who have a different city listed in their billing city versus their customer city.

In [ ]:
Das Ergebnis ist leer, weil alle Kunden in den Stammdaten und in den Rechnungen dieselbe Stadt eingetragen haben.